---
layout: default
---

<div class="page">
  <section id="home">
    {% include home.html %}
  </section>
  <!-- <section id="about">
      {% include about.html %}
    </section>
    <section id="projects">
      {% include projects.html %}
    </section> -->
  <section id="blog">
    <div class="user-details">
      <h2>My Recent Posts</h2>
    </div>
    {% for post in site.posts limit:5 %}
    <article class="user-blog">
      {% if post.thumbnail %}
      <div class="images-left">
        <img src="{{post.thumbnail}}" alt="{{post.title}}" />
      </div>
      {% endif %}
      <div class="contents-right">
        <h3>
          <a href="{{post.url | prepend: site.baseurl}}">
            {{post.title}}
          </a>
        </h3>
        <div>
          <small>
            <i class="fa fa-calendar"></i>
            <time>
              {{ post.date | date:'%A, %B %d, %Y'}}
            </time>
          </small>
        </div>
        <div>
          <small>
            <i class="fa fa-tag"></i>
            {% for category in post.categories %}
            <span class="label label-tag">
              <a href="/category/{{category}}">
                {{category}}
              </a>
            </span>
            {% endfor %} {% for tag in post.tags %}
            <span class="label label-tag">
              <a href="/tag/{{tag}}">
                {{tag}}
              </a>
            </span>
            {% endfor %}
          </small>
        </div>
        <div class="excerpt">{{post.excerpt}}</div>
        <a
          class="pull-right marginBottom10"
          href="{{post.url | prepend: site.baseurl }}"
          >Read More</a
        >
      </div>
    </article>
    {% endfor %}
  </section>
</div>
