<div id="particles-js">
  <div class="header">
    <h1>{{site.username}}</h1>
    <h2>{{site.user_title}}</h2>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{site.email}}">
        <i class="icon fa fa-envelope"></i>
      </a>
      <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/{{site.linkedin_username}}">
        <i class="icon fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}">
        <i class="icon fa fa-github-alt" aria-hidden="true"></i>
      </a>
      <a aria-label="My Workspace" href="#blog" data-scroll>
        <i class="icon fa fa-laptop" aria-hidden="true"></i>
      </a>
      <a aria-label="Photography" href="#" aria-disabled="true">
        <i class="icon fa fa-camera disabled" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <a class="down" href="#blog" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
