#blog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  max-width: 960px;
  margin: 2rem auto;
  overflow: hidden;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }

  .imgcontainer{
    img{
      width: 100%;
      @media only screen and (min-width: $cut) {
        width: auto;
        border:1px solid #eee;
        padding: 0.2rem;
        margin: 0.3rem;
        border-radius: 0;

      }
    } 
  }

  .label-tag{
    font-size: 0.5rem;
    background-color: #002e62;
    padding: 4px;
    margin: 1px;
    color: #fff;
    border-radius: 0.2rem;
  }
  .user-blog {
    margin: 20px auto;
    img {
      max-width: 100%;
      height: auto;
    }
    h5 {
      margin: 0;
    }
    li {
      color: $main;
      font-size: 1.1rem;
    }
    p {
      margin-right: 5px;
    }
  }

  .contents {
    @media only screen and (min-width: $cut) {
      margin-left: 0;
      width: 100%;
    }
  }

  .contents-right {
    @media only screen and (min-width: $cut) {
      float: right;
      margin-top: -5%;
      width: 73%;
    }
  }
  .images {
    text-align: center;
    img {
      width: auto;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  .images-right {
    @media only screen and (min-width: $cut) {
      float: right;
      width: 23%;
    }
    img {
      @media only screen and (min-width: $cut) {
        float: right; 
      }
    }
  }

  .images-left {
    @media only screen and (min-width: $cut) {
      float: left;
      width: 23%;
    }
    img {
      @media only screen and (min-width: $cut) {
        float: left;
      }
    }
  }

  .blog-link {
    display: block;
    width: 100px;
    margin: 10px 0px;
    padding: 5px;
    color: $main;
    background-color: transparent;
    border: 1px solid $main;
    border-radius: 10px;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease-out,
                background-color 0.3s ease-out,
                border-color 0.3s ease-out;
    &:hover {
      background-color: $purple;
      border-color: $purple;
      color: #fff;
      transition: color 0.3s ease-in,
                  background-color 0.3s ease-in,
                  border-color 0.3s ease-in;
    }
    &:active {
      background-color: $purple;
      border-color: $purple;
      color: #fff;
      transition: color 0.3s ease-in,
                  background-color 0.3s ease-in,
                  border-color 0.3s ease-in;
    }
  }
}