.header {
  background: $main;
  padding: 10px 0;
  text-align: center;
  color: #FFF;
  a {
    font-size: 2em;
    text-decoration: none;
    margin: 0;
    color: #FFF;
    &:hover{
      color: $sec;
    }
    &:active {
      color: $sec;
    }
  }
}