@charset "UTF-8";
/* CSS Document */

#area_social{
	z-index:50;
	position:absolute;
	width:125px;
	height:30px;
	top:590px;
	left:0px;
	transform: rotate(15deg);
	-ms-transform: rotate(15deg); /* IE 9 */
	-webkit-transform: rotate(15deg); /* Safari and Chrome */
	-o-transform: rotate(15deg); /* Opera */
	-moz-transform: rotate(15deg); /* Firefox */
}
#area_mouse{
	z-index:50;
	position:absolute;
	width:50px;
	height:60px;
	top:255px;
	left:450px;
}
#area_keyboard{
	z-index:50;
	position:absolute;
	width:150px;
	height:60px;
	top: 305px;
	left: 280px;
	transform: rotate(327deg);
	-ms-transform: rotate(327deg);
	-webkit-transform: rotate(325deg);
	-o-transform: rotate(327deg);
	-moz-transform: rotate(327deg);
}
#area_chair{
	z-index:50;
	position:absolute;
	width:215px;
	height:190px;
	top:400px;
	left:260px;
	padding:80px 0px 0px 105px;
	font-size:50px;
	opacity:0;
}
#area_ipad{
	z-index:50;
	position:absolute;
	width:120px;
	height:120px;
	top: 365px;
	left: 34px;
}
#area_external{
	z-index:50;
	position:absolute;
	width:100px;
	height:90px;
	top:56px;
	left:65px;
}
#area_wacom{
	z-index:50;
	position:absolute;
	width:195px;
	height:120px;
	top:78px;
	left:375px;
}
#area_magazine{
	z-index:50;
	position:absolute;
	width:180px;
	height:200px;
	top:455px;
	left:130px;
	display:none;
}
#area_desktop{
	z-index:50;
	position:absolute;
	width:220px;
	height:170px;
	top:100px;
	left:120px;
	transform: rotate(327deg);
	-ms-transform: rotate(327deg); /* IE 9 */
	-webkit-transform: rotate(327deg); /* Safari and Chrome */
	-o-transform: rotate(327deg); /* Opera */
	-moz-transform: rotate(327deg); /* Firefox */
}
#area_dslr{
	z-index:50;
	position:absolute;
	width:100px;
	height:120px;
	top:50px;
	left:600px;
}