---
layout: default
---

<div class="page">
  {% include navigation.html %}
  <article class="user-blog" id="blog">
    {% if page.thumbnail %}
      <div class="images">
        <img src="{{page.thumbnail}}" alt="{{page.title}}"/>
      </div>
    {% endif %}
    <div class="contents">
      <h3>
        <a href="{{page.url | prepend: site.baseurl}}">
          {{page.title}}
        </a>
      </h3>
      <div>
        <small>
          <i class="fa fa-calendar"></i>
          <time>
            {{ page.date | date:'%A, %B %d, %Y'}}
          </time>
        </small>
      </div>
      <div>
        <small>
          <i class="fa fa-tag"></i>
          {% for tag in page.tags %}
            <span class="label label-tag">
              <a href="/tag/{{tag}}">
                {{tag}}
              </a>
            </span>
          {% endfor %}
        </small>
      </div>
      <div>
        {{ content }}
      </div>
      {% if page.comments %}
        {% include disqus.html %}
      {% endif %}
      <div>
        {% include advertisements.html %}
      </div>
    </div>
  </article>
</div>
