---
layout: blog
---
<article id="blog" class="user-blog">
  {% if page.thumbnail %}
  <div class="images">
    <img src="{{page.thumbnail}}" alt="{{page.title}}" />
  </div>
  {% endif %}
  <div class="contents">
    <h3>
      <a href="{{page.url | prepend: site.baseurl}}">
        {{page.title}}
      </a>
    </h3>
    <div>
      <small>
        <i class="fa fa-calendar"></i>
        <time>
          {{ page.date | date:'%A, %B %d, %Y'}}
        </time>
      </small>
    </div>
    <div>
      <small>
        <i class="fa fa-tag"></i>
        {% for tag in page.tags %}
        <span class="label label-tag">{{tag}}</span>
        {% endfor %}
      </small>
    </div>
    <div>
      {{ content }}
    </div>
    <div>
      {% include advertisements.html %}
    </div>
  </div>
</article>